:root {
  /* Primary */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  /* Neutral */

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  /* Typography  */
  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;

  --br: 0.5rem;
}
@media (min-width: 50rem) {
  :root {
    --fs-900: 3rem;
  }
}

/* Utilities  */
.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: 0 auto;
}
.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}
.split {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
@media (min-width: 50rem) {
  .split {
    flex-direction: row;
  }
}
.a-center {
  align-items: center;
}
/* End utilities  */

body {
  min-height: 100vh;
  font-size: var(--fs-400);
  font-family: "Spartan", sans-serif;
  padding-top: 5rem;
  text-align: center;
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: max(50%, 400px);
}
@media (min-width: 50em) {
  body {
    padding-top: 7.5rem;
  }
}
h1 {
  font-size: var(--fs-900);
  color: var(--Very-Dark-Magenta);
  line-height: 1;
  max-width: 12ch;
  margin-bottom: 0.25em;
  font-weight: 700;
}
@media (max-width: 50em) {
  h1 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
  }
}
.lead {
  font-size: var(--fs-500);
}
.ratings li {
  line-height: 1;
  background-color: var(--Light-Grayish-Magenta);
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: var(--br);
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 50em) {
  .ratings li {
    display: flex;
    padding: 1em 3em;
    align-items: center;
  }
  .ratings li:first-of-type {
    transform: translateX(-3rem);
  }
  .ratings li:last-of-type {
    transform: translateX(3rem);
  }
}
.ratings .stars {
  display: flex;
  justify-content: center;
}
.ratings li img {
  margin: 0 0.5rem 0.5rem;
}
@media (min-width: 50em) {
  .ratings li img {
    margin: -0.25rem 0.5rem 0 0;
  }
}
.quotes {
  --spacer: 1.5rem;
}
.quotes li:nth-child(2) {
  transform: translateY(3rem);
}
.quotes li:nth-child(3) {
  transform: translateY(6rem);
}
.quotes blockquote {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  text-align: left;
  border-radius: var(--br);
  padding: var(--spacer);
  max-width: 25rem;
  margin: 0 auto;
  height: 100%;
}
.quotes img {
  width: 3rem;
  border-radius: 50%;
}
@media (min-width: 50em) {
  .quotes img {
    margin-right: var(--spacer);
  }
}
.quotes .name {
  font-weight: 700;
}
.quotes .status {
  color: var(--Dark-Grayish-Magenta);
}
.quotes .quote {
  margin-top: var(--spacer);
  color: var(--Light-Grayish-Magenta);
  line-height: 1.2rem;
}
main {
  display: grid;
  gap: 3rem 1rem;
}
@media (min-width: 50em) {
  main {
    grid-template-columns: 1fr 1.5fr;
    text-align: left;
  }
  .intro {
    grid-column: 1 / 2;
  }
  .ratings {
    grid-column: 2 / 3;
    align-self: center;
  }
  .quotes {
    grid-column: 1 / -1;
  }
}
